
@using _5951071072_NguyenThanhPhong.Models
@model Employee

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="edit" class="form-horizontal">

    <div class="form-group">

        <label class="form-group">Name</label>
        <input asp-for="Emp_name" class="form-control" />

    </div>
    <div class="form-group">

        <label class="form-group">City</label>
        <input asp-for="City" class="form-control" />

    </div>
    <div class="form-group">

        <label class="form-group">State</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">

        <label class="form-group">Country</label>
        <input asp-for="Cousntry" class="form-control" />
    </div>
    <div class="form-group">

        <label class="form-group">Department</label>
        <input asp-for="Department" class="form-control" />

    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-primary" />
    </div>

</form>

